<ion-view view-title="Photo">
  <ion-content>
    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{cameraImage}}">
        <p>{{cameraImage}}</p>
      </div>
    </div>
    <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button-clear" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i> Back
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button-clear" ng-click="submitImage()">
        <i class="icon ion-checkmark-round"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  </ion-content>
</ion-view>
