<ion-view view-title="NutriCount">
  <ion-content>
<!--     <h3>Calories: {{ userNutrition.calories }} out of {{ template.calories }}</h3>
    <h3>Sugars: {{ userNutrition.sugars }} out of {{ template.sugars }}</h3> 
    <h3>Total Fat: {{ userNutrition.totalFat }} out of {{ template.totalFat }}</h3> 
    <h3>Protein: {{ userNutrition.protein }} out of {{ template.protein }}</h3> 
 -->    <h1>Calories</h1>
    <div class="progress calories">
      <span class="sr-only">{{userNutrition.calories}}/{{template.calories}}</span>
      <div class="progress-bar progress-bar-striped active bar-green" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{(userNutrition.calories/template.calories)*100}}%">
      </div>
    </div>   
    <h1>Sugars</h1>
    <div class="progress sugars">
      <span class="sr-only">{{userNutrition.sugars}}/{{template.sugars}}</span>
      <div class="progress-bar progress-bar-striped active bar-red" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{(userNutrition.sugars/template.sugars)*100}}%">
      </div>
    </div>
    <h1>Total Fats</h1>
    <div class="progress totalfat">
      <span class="sr-only">{{userNutrition.totalFat}}/{{template.totalFat}}</span>
      <div class="progress-bar progress-bar-striped active bar-yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{(userNutrition.totalFat/template.totalFat)*100}}%">
      </div>
    </div>   
    <h1>Protein</h1>
    <div class="progress protein">
      <span class="sr-only">{{userNutrition.protein}}/{{template.protein}}</span>
      <div class="progress-bar progress-bar-striped active bar-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{(userNutrition.protein/template.protein)*100}}%">
      </div>
    </div>
  </ion-content>
</ion-view>
